{{ block "footer" . }}
<footer id="footer" class="footer {{ if and (eq .ActiveCount 0) (eq .CompletedCount 0)  }}hide{{ end }}">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{ .ActiveCount }}</strong> {{ .Label }}</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
        <li>
            <a {{ if eq .Page "all" }}class="selected"{{ end }} treetop href="/">All</a>
        </li>
        <li>
            <a {{ if eq .Page "active" }}class="selected"{{ end }} treetop href="/active">Active</a>
        </li>
        <li>
            <a {{ if eq .Page "completed" }}class="selected"{{ end }} treetop href="/completed">Completed</a>
        </li>
    </ul>
    {{ if .CompletedCount }}
    <!-- Hidden if no completed items are left ↓ -->
    <form action="/clear" method="POST"><button class="clear-completed">Clear completed</button></form>
    {{ end }}
</footer>
{{ end }}